* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: purple;
}

/* mouse over link */
a:hover {
    color: green;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: blue;
}

/* Responsive image styling based on device*/
div.profile-image {
    max-width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px auto 25px auto; /* Center the div horizontally and add bottom margin */
}

/* Center the profile image container */
div.profile-image-container {
    text-align: center;
    padding: 10px 20px;
    margin: auto;
}

/* Style the header */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #333;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.5em; /* Smaller font size for mobile devices */
    }
}

/* Set the body background color and font */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #6b2a2a;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bio, .projects {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Style the footer */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #999;
}