* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#img-div {
    align-items: center;
    background-color: #f4f4f4;
}

#img{
    max-height: 200px;
    max-width: 90%;
    height: auto;
    margin: 5px;
}

#img-caption {
    text-align: center;
    font-size: 1em;
    color: #770ca9;
    margin: 5px 0;
}

#main {
    background-color: rgb(210, 245, 245);
    margin: 10px auto;
    font-family: sans-serif;
    font-weight: 300;
    text-align: left;
    width: 90%;
    box-sizing: border-box;
    align-content: center;
}

#tribute-info {
    margin: 0;
    width: 90%;
    padding: 10px;
    list-style-position: inside;
}

/* Reset some default browser styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set the body background color and font */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #8a8989;
    line-height: 1.6;
    padding: 20px;
}

/* Style the main container */
.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the header */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #333;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

  }

/* Style the footer */
footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #999;
}